body{
    background: rgb(17, 17, 17);

    
   }
  
  .card-header{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
  } 

  .card{
     background: rgb(212, 209, 210);
     background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(45, 163, 9));
    
  }

  .card-text{
    text-align: center;
    font-size: 18px;
  }
  
  img{
    border: 1px solid white;
  
  }
  #title{
     color: azure;
     background-color: black;
  }
 
 
  